<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niks.filelog">

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.niks.filelog.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".activity.FileLogsPreviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <receiver android:name=".FileLogCodeReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data
                    android:host="1221"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
